# conao3's global .gitignore at
# http://dotfiles.conao3.com/gitignore

# Target file
bison-calc

# Flex compiled files
*.yy.c
*.h

# Bison compiled files
*.tab.c

# Object files
*.o
*.obj

# Librarys
*.a

# Executables
*.out